/*biografias
https://swiperjs.com/swiper-api scripts para slider de cards*/

/*reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Nao usar tamanho em px, para ter um site responsivo, que se adapite a qualquer dispositivo. Para isso precisamos usar o "root e o header 4,5rem*/
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
/*====== BASE =========================*/

html {
  scroll-behavior: smooth; /*rolagem suave*/
}

body {
  font: 400 1rem 'DM Sans', sans-serif; /*conecta o link da fonte*/
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased; /*Suaviza a fonte, deixando um pouco fina*/
}
.title {
  font: 700 1.875rem 'poppins', sans-serif; /*conecta o link da fonte*/
  color: var(--title-color);
  -webkit-font-smoothing: auto; /*Suaviza a fonte, deixando um pouco fina*/
}

/*====== VARIAVEIL =========================*/
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 750;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 60% 50%);
  --base-color-second: hsl(var(--hue) 60% 30%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /*fontes*/

  --title-font-size: 2.25rem;
  --subtile-font-size: 1rem;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem; /*cantos arredondados*/
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  /*linha de divizão de pagina*/
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  /*linha de divizão de pagina*/
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

.divider-3 {
  /*linha de divizão de pagina*/
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-4 {
  /*linha de divizão de pagina*/
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}
/*====== LAYAOUT ==============================================*/

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  /*Juntos significa que é quando eçe tiver "scroll"*/
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/*====== LOGO ==============================================*/
.logo {
  font: 700 1.31rem 'poppins', sans-serif; /*conecta o link da fonte*/
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}
/*======NAVIGATION==============================================*/
nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center; /*alinhamento*/
  scale: 8;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  /*Apos a conclusao do codigo JS, temos que add ccs no elemente, "nav ul li a.active"*/
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  /*Apos a conclusao do codigo JS, temos que add ccs no elemente, "nav ul li a.active::after"*/
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/*mostrar menu*/
nav.show .menu {
  /*nav.show elerecebe "show" se tivesse separado ele procuraria um show no nav*/
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  place-content: center;
  align-items: center;
}

nav.show .menu ul {
  /*diminui a margem das palavras do menu*/
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: grid;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtile-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu*/
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*=====home====================================================*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: -1;
}

#home .image image {
  position: relative; /* abilito novas propriedades para o CSS*/
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home h2 {
  margin-bottom: 1rem;
}
#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*=====home====================================================*/
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative; /* abilito novas propriedades para o CSS*/
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}
#about h2 {
  margin-bottom: 1rem;
}

#about .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*=========SERVIÇOS======================================*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08); /*colocar uma borda no card*/
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0 0; /*borda redonda*/
  text-align: center;
}

.card i {
  /*icones, propriedades*/
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card i.icon-2023997 {
  font-size: 3.5rem;
}

.card title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*=========Depoimentos======================================*/
#testimonials {
  background: white;
}

#testimonials .title {
  text-align: center;
}

#testimonials header {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0;
}
#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08); /*colocar uma borda no card*/
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;

  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center; /*alinhamento do texto*/
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle(); /*deixa a imagem quadrada, redonda*/
  margin-right: 0.5rem;
}

/*===SWIPER===*/

.swiper-pagination {
  position: relative;
}

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

#links .container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*CONTATO */

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

#contact ul li i {
  color: var(--base-color);
}

/*FOOTER */

footer {
  background: var(--base-color);
}

footer .logo {
  display: inline-block; /*Como da espaço de margem para elementos "a"? Tem que colocar um "display: inline-block"*/
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  color: var(--text-color-light);
  margin-right: 1rem;
  font-size: 1.5rem;
}

footer .social a {
  margin-right: 1rem;
  margin-top: 2rem;

  display: inline-block;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-15px);
}

/*Voltar ao topo */

.back-to-top {
  background: var(--base-color);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.3rem;
  clip-path: circle();

  font-size: 1rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/*Midia Querie*/

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; /*Aqui, define o tamanho heade, barra do menu. Para ficar alinhado ao centro*/
    margin-left: auto; /*Complemento da "max-width", define as margens laterais para automatico*/
    margin-right: auto; /*Complemento da "max-width", define as margens laterais para automatico*/
  }

  .section {
    padding-top: calc(5rem + var(--header-height)) 0;
  }
  
  /*HOME*/

  #home .container {
    grid-auto-flow: column; /*com o "grid" na class, ele deixa os intens em coluna*/
    justify-content: space-between;
    margin: 0 auto; /*Deixa a margem vestica "0" e a Laterais "automatica", deixando os intens alinhados*/
  }

  .logo {
    font-size: 2.25rem;
  }

  #home h2 {
    font-size: 2rem;
  }

  #home .image {
    order: 1; /* Define a ordem dos intens na class */
    max-width: 35rem;
    margin-right: 4.43rem;
  }

  #home .text {
    order: 0; /* Define as ordens dos intens na class */
    margin: 0;
    text-align: left; /* alinhamento do texto a esquerda */
  }

  /*NAV*/

  nav .container {
    margin-left: 0px;
  }

  nav .menu {
    visibility: visible; /* COMO ESTAVA INVISIVEL PARA TELA MENOR, TEMOS QUE TORNA-LO VISIVEL NOVAMENTE */
    opacity: 1; /* COMPLEMENTO DA ANTERIOR, OPACIDADE DEVE VOLTAR PARA "1" */
    top: 0; /* O "top" estava -20, temos que voltar para o ponto de origem */
  }

  nav .menu ul {
    display: flex; /* "display" do nav, estava "none" (invisivel), temos que voltar para flex (ficando visivel e ium ao lado do outro */
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font); /* Define a fonte do menu */
    font-size: 1.25rem; /* Define o tamanho do menu */
  }

  nav .icon-menu {
    display: none; /* Some com o icone de menu, assim o menu se alinha automatico para o conto*/
  }
  /*ABOUT*/

  #about .container {
    grid-auto-flow: column; /*com o "grid" na class, ele deixa os intens em coluna*/
    justify-content: space-between;
    margin: 0 auto; /*Deixa a margem vestica "0" e a Laterais "automatica", deixando os intens alinhados*/
  }

  #about h2 {
    font-size: 2rem;
  }

  #about .text {
    margin: 0;
  }

  #about .image {
    max-width: 35rem;
    margin-right: 4.43rem;
  }

  #about .image::before {
    /*este elemento faz um objeto da imagem, deixando com sobra de um imagem existente*/
    content: '';
    height: 21.25rem;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
  }

  #services header {
    font-size: 2rem;
    text-align: center;
  }

  .cards {
    grid-template-columns: 1fr 1.3fr 1fr;
  }

  /*contact*/

  #contact .container {
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 5rem;
  }

  #contact .text {
    max-width: 25rem;
  }

  #contact links {
    max-width: 25rem;
  }

  /*footer*/

  footer.section {
    padding: 3rem 0;
    grid-auto-flow: column;
    align-items: center;
  }

  footer .container {
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

@media (min-width: 360px) {
  :root {
    --title-font-size: 2.25rem; /* variavel */
    --subtile-font-size: 1.25rem; /* variavel */
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #home h2 {
    font-size: 1.5rem;
  }

  #about h2 {
    font-size: 2rem;
  }

  #services h2 {
    font-size: 2rem;
  }

  logo {
    font: 300;
  }

  .section {
    padding-top: 6rem;
  }

  html {
    width: 100vw;
  }

  body {
  overflow-x: hidden;
  overflow-y: scroll;
  }

  }
  #header {
    width: 100vw;
  }

  #home {
    width: 100vw;
  }
  #about {
    width: 100vw;
  }
  #services {
    width: 100vw;
  }

  #testimoniols {
    width: 100vw;
  }
}
